body{
    margin: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    margin-top: 20px;
    height: 600px;
    background-color:darkcyan;
}


div h1{
    font-size: 30pt;
    font-family: 'Courier New', Courier, monospace;
}

div #nome{
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
}


div #email{
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
}

div #confirmarEmail{
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
}

div #senha{
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
}

div #acessar{
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
}

div #genero{
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin-top: 10px;
    height: 600px;
    background-color:darkcyan;
    margin-bottom: 5px;
}

aside h2{
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    margin: 60px;
    width: 400px;
    margin-top: 10px;
}

aside #dados{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 0, 0, 0.856);
    font-weight: 400;
    font-size:18pt;
    margin: 10px;
    /* margin-top: 20px; */
}

aside img{
    /* margin-top: 50px; */
    margin: 15px;   
    width: 350px;
    height: 300px;
}